<div class="container-fluid">
    <div class="container">
        <div class="row top">
            <div class="container fundation">
                <div class="row row-cols-4 mb-4">
                    <div class="col">
                        <img src="{{ MEDIA_URL }}images/footer/donation.png" alt="footer-image">
                    </div>
                    <div class="col">
                        <img src="{{ MEDIA_URL }}images/footer/donation.png" alt="footer-image">
                    </div>
                    <div class="col">
                        <img src="{{ MEDIA_URL }}images/footer/donation.png" alt="footer-image">
                    </div>
                    <div class="col">
                        <img src="{{ MEDIA_URL }}images/footer/donation.png" alt="footer-image">
                    </div>
                </div>
                <div class="row foundation-text">
                    <p class="lead text-center">Europejski Fundusz Rolny na rzecz Rozwoju Obszarów Wiejskich: Europa
                        Inwestująca w
                        obszary wiejskie.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyrights">
                <p class="p-0 m-0">© 2023 - {{ currentYear }}
                    <a href="https://sliwkastudio.pl" target="_blank" rel="noopener noreferrer"
                        class="sliwkastudio-link">
                        <img src="{{ MEDIA_URL }}images/sliwkastudio/sliwkastudio.png" alt="sliwkastudio-logo">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>