html,
body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    min-width: 320px;
    background-color: $azur;
}

main > .main-container {
    padding: 70px 15px 0;
}
