$mint: #1fb887;
$maiz: #f4e04d;
$tiff: #97d0be;
$azur: #f8f8f8;
$prus: #1e293a;
$gren: #00867b;

// body color
$body-background-color: #fff;
// navigation
$nav-background-color: #fff;
$nav-border-color: #f1f1f1;
$nav-links-color: #000;
$nav-link-color-hover: #1fb887;
$nav-link-color-active: #1fb887;
/// reservation button
$reserv-color: #fff;
$reserv-background-color: #00867b;
$reserv-color-hover: #fff;
$reserv-background-color-hover: #1fb887;
